<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <title>Пользователи</title>
    </head>

    <body>
        <h3>Пользователи</h3>
        <ul>
            {% for user in users %}
                <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Создать">
        </form>
    </body>
</html>